:root {
    --color-brun: #6d493b;
    --color-mid: #C19B87;
    --color-background: #FCF9F2;
    --color-beige: #cfbaa2;
    --color-skin: #d6b6a5;
    --color-light: #e5d7d3;
    --color-transparent: rgba(0, 0, 0, 0.001);
    /* opacity: 0.33; */
}

@font-face {
    font-family: 'cremona';
    src: url(../font/Cremona-Regular.ttf);
}

@font-face {
    font-family: "qeinsha";
    src: url(../font/Qeinsha.ttf);
}

@font-face {
    font-family: "nunito";
    src: url(../font/Nunito-VariableFont_wght.ttf);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #FCF9F2 !important;
}

#header-sticky {
    display: flex;
    top: 0;
    position: sticky;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 70px;
    background-color: var(--color-skin);
    z-index: 999;
}

#header-sticky .logo-sticky {
    margin-left: 3%;
}

#header-sticky .logo-sticky img {
    width: 120px;
}

#header-sticky .items-sticky {
    margin-left: 120px;
    width: 75%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-sticky .items-sticky .menu-item {
    color: var(--color-brun);
    font-family: 'cremona';
    font-weight: normal;
    font-size: 22px;
    text-decoration: none;
}

#header-sticky .menu-item.active {
    color: var(--color-brun);
    font-family: 'cremona';
    font-weight: normal;
    text-decoration: underline;
}

#header-sticky .nav-toggler {
    display: none;
}

/********************COFFRE-FORT*********************/
main {
    width: 100%;
    height: fit-content;
}

section#section-projet-description {
    width: 80%;
    margin: 2% auto;
    display: flex;
    align-items: center;
}

section#section-projet-description img {
    /* width: 600px; */
    margin-right: 40px;
}

.text-projet h1 {
    font-family: 'cremona';
    color: var(--color-brun);
    font-size: 55px;
}

.text-projet h3 {
    font-family: 'cremona';
    color: var(--color-brun);
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 30px;
}

.text-projet p {
    font-family: 'nunito';
    color: var(--color-brun);
    font-size: 19px;
    text-align: justify;
    margin-top: 40px;
}

section#section-projet-circuits-logiques {
    border-top: 1px dashed var(--color-brun);
    width: 80%;
    margin: 2% auto;
    align-items: center;
}

section#section-projet-circuits-electriques {
    border-top: 1px dashed var(--color-brun);
    width: 80%;
    margin: 5% auto;
    align-items: center;
}

#section-projet-circuits-logiques h1 {
    font-size: 48px;
    margin-left: 3%;
    margin-bottom: 30px;
    font-family: 'qeinsha';
    font-weight: lighter;
    color: var(--color-brun);
}

#section-projet-circuits-electriques h1 {
    font-size: 48px;
    margin-left: 3%;
    margin-bottom: 30px;
    font-family: 'qeinsha';
    font-weight: lighter;
    color: var(--color-brun);
}

.text-circuits-logiques {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-circuits-logiques p {
    font-size: 16px;
    color: var(--color-brun);
    font-family: 'nunito';
    text-align: justify;
}

.content-circuits-logiques {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-circuits-logiques img {
    margin: 2% auto;
}

.content-circuits-logiques .row {
    margin: 3% auto;
    display: flex;
    flex-direction: row;
}

.content-circuits-logiques .row img {
    margin-right: 2%;
}

.content-circuits-logiques .row p {
    justify-content: center;
    margin: auto 0;
}

.content-circuits-logiques h3 {
    font-family: 'cremona';
    font-size: 30px;
    color: var(--color-brun);
    margin-left: 3%;
    margin-bottom: 30px;
}

.content-circuits-logiques .interne-coffre {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}

.content-circuits-logiques .interne-coffre p {
    margin: auto 3%;
}

#section-projet-circuits-electriques p {
    font-size: 16px;
    color: var(--color-brun);
    font-family: 'nunito';
    text-align: justify;
}

#section-projet-circuits-electriques .elect-row1,
#section-projet-circuits-electriques .elect-row3 {
    display: flex;
    align-items: center;
}

#section-projet-circuits-electriques .elect-row2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#section-projet-circuits-electriques .elect-row1 p,
#section-projet-circuits-electriques .elect-row2 p,
#section-projet-circuits-electriques .elect-row3 p {
    padding: 25px;
}

#section-projet-circuits-electriques h3 {
    font-family: 'cremona';
    color: var(--color-brun);
    font-size: 30px;
    margin-left: 3%;
    margin-bottom: 30px;
    margin-top: 50px;
}

#section-projet-algorithmes  {
    border-top: 1px dashed var(--color-brun);
    width: 80%;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#section-projet-algorithmes h3 {
    font-family: 'cremona';
    color: var(--color-brun);
    font-size: 30px;
    margin-left: 3%;
    margin-bottom: 60px;
    margin-top: 80px;
}

#section-projet-algorithmes h4 {
    font-family: 'qeinsha';
    color: var(--color-brun);
    font-size: 25px;
    margin-left: 6%;
    margin-bottom: 30px;
    margin-top: 50px;
}

#section-projet-algorithmes h1 {
    font-size: 48px;
    margin-left: 3%;
    margin-bottom: 30px;
    font-family: 'qeinsha';
    font-weight: lighter;
    color: var(--color-brun);
}

#section-projet-algorithmes p {
    width: 75%;
    font-size: 16px;
    color: var(--color-brun);
    font-family: 'nunito';
    text-align: justify;
    margin: 0 auto;
}

.algo-row1 {
    display: flex;
    width: 75%;
    align-items: center;
    margin: 20px auto;
}

.algo-row1 p {
    padding-right: 20px;
}

.algo-row2 {
    display: flex;
    flex-direction: row-reverse;
    width: 75%;
    align-items: center;
    margin: 20px auto;
}

.algo-row2 p {
    padding-left: 20px;
}

.algo-row3 {
    display: flex;
    width: 75%;
    align-items: center;
    margin: 20px auto;
}

.algo-row3 p {
    padding-right: 20px;
}

.algo-row4 {
    display: flex;
    flex-direction: row-reverse;
    width: 75%;
    align-items: center;
    margin: 20px auto;
}

.algo-row4 p {
    padding-left: 20px;
}

.algo-row5 {
    display: flex;
    width: 75%;
    align-items: center;
    margin: 20px auto;
}

.algo-row5 p {
    padding-right: 20px;
}

.algo-row6 {
    display: flex;
    flex-direction: row-reverse;
    width: 75%;
    align-items: center;
    margin: 20px auto;
}

.algo-row6 p {
    padding-left: 20px;
}

.algo-row7 {
    display: flex;
    width: 75%;
    align-items: center;
    margin: 20px auto;
}

.algo-row7 p {
    padding-right: 20px;
}

.algo-row8,
.algo-row9 {
    display: flex;
    flex-direction: row-reverse;
    width: 75%;
    align-items: center;
    margin: 20px auto;
}

.algo-row8 p,
.algo-row9 p {
    padding-left: 20px;
}

.algo-row10 {
    display: flex;
    width: 75%;
    align-items: center;
    margin: 20px auto;
}

.algo-row10 p {
    padding-right: 20px;
}

.algo-row11 {
    display: flex;
    flex-direction: row-reverse;
    width: 75%;
    align-items: center;
    margin: 20px auto;
}

.algo-row11 p {
    padding-left: 20px;
}

.algo-row12 {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    margin: 20px auto;
}

.algo-row12 p {
    padding: 20px 0;
}

.algo-row12 img {
    width: 700px;
}

#section-projet-programme  {
    border-top: 1px dashed var(--color-brun);
    width: 80%;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#section-projet-programme h3 {
    font-family: 'cremona';
    color: var(--color-brun);
    font-size: 30px;
    margin-left: 3%;
    margin-bottom: 60px;
    margin-top: 80px;
}

#section-projet-programme h4 {
    font-family: 'qeinsha';
    color: var(--color-brun);
    font-size: 25px;
    margin-left: 6%;
    margin-bottom: 30px;
    margin-top: 50px;
}

#section-projet-programme h1 {
    font-size: 48px;
    margin-left: 3%;
    margin-bottom: 30px;
    font-family: 'qeinsha';
    font-weight: lighter;
    color: var(--color-brun);
}

#section-projet-programme p {
    width: 75%;
    font-size: 16px;
    color: var(--color-brun);
    font-family: 'nunito';
    text-align: justify;
    margin: 0 auto;
}

.prog-row-1,
.prog-row1,
.prog-row3,
.prog-row5,
.prog-row7,
.prog-row9,
.prog-row11,
.prog-row13 {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px auto;
}


.prog-row-2,
.prog-row2,
.prog-row4,
.prog-row6,
.prog-row8,
.prog-row10,
.prog-row12,
.prog-row14  {
    width: 85%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 20px auto;
}

.prog-row-1 p,
.prog-row-2 p,
.prog-row1 p,
.prog-row2 p,
.prog-row3 p,
.prog-row4 p,
.prog-row5 p,
.prog-row6 p,
.prog-row8 p,
.prog-row7 p,
.prog-row9 p,
.prog-row10 p,
.prog-row11 p,
.prog-row12 p,
.prog-row13 p,
.prog-row14 p {
    padding: 20px;
}

.prog-row15 {
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-direction: column-reverse;
}

.prog-row15 img {
    margin: 0 auto;
    width: 1000px;
}

.prog-row16 {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prog-row16 img {
    width: 100px;
    height: 100px;
}

.prog-row16 a {
    padding-left: 50px;
    text-decoration: none;
    color: var(--color-brun);
    font-family: 'nunito';
    text-align: justify;
    font-size: 20px;
}

#lien-code-source {
    padding-top: 30px;
    border-top: 1px dashed var(--color-brun);
}

/**************************MESSAGE CODE***********************/

/*#section-projet-schema h4 {
    font-family: 'qeinsha';
    color: var(--color-brun);
    font-size: 25px;
    margin-left: 6%;
    margin-bottom: 30px;
    margin-top: 50px;
} */

#section-projet-schema h3 {
    font-family: 'cremona';
    color: var(--color-brun);
    font-size: 30px;
    margin-left: 10%;
    margin-bottom: 60px;
    margin-top: 80px;
}

#section-projet-schema h1 {
    font-size: 48px;
    margin-left: 5%;
    margin-bottom: 30px;
    margin-top: 70px;
    font-family: 'qeinsha';
    font-weight: lighter;
    color: var(--color-brun);
}

#section-projet-schema p {
    width: 65%;
    font-size: 16px;
    color: var(--color-brun);
    font-family: 'nunito';
    text-align: justify;
    margin: 0 auto;
}

#section-projet-quantification h3 {
    font-family: 'cremona';
    color: var(--color-brun);
    font-size: 30px;
    margin-left: 10%;
    margin-bottom: 60px;
    margin-top: 80px;
}

#section-projet-quantification h1 {
    font-size: 48px;
    margin-left: 5%;
    margin-bottom: 30px;
    margin-top: 70px;
    font-family: 'qeinsha';
    font-weight: lighter;
    color: var(--color-brun);
}

#section-projet-quantification p {
    width: 65%;
    font-size: 16px;
    color: var(--color-brun);
    font-family: 'nunito';
    text-align: justify;
    margin: 20px auto;
}

#section-projet-programme1 h3 {
    font-family: 'cremona';
    color: var(--color-brun);
    font-size: 30px;
    margin-left: 10%;
    margin-bottom: 60px;
    margin-top: 80px;
}

#section-projet-programme1 h1 {
    font-size: 48px;
    margin-left: 5%;
    margin-bottom: 30px;
    margin-top: 70px;
    font-family: 'qeinsha';
    font-weight: lighter;
    color: var(--color-brun);
}

#section-projet-programme1 p {
    width: 65%;
    font-size: 16px;
    color: var(--color-mid);
    font-family: 'nunito';
    text-align: justify;
    margin: 20px auto;
}

#section-projet-programme1 code {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: var(--color-brun);
}

#section-projet-programme2 h3 {
    font-family: 'cremona';
    color: var(--color-brun);
    font-size: 30px;
    margin-left: 10%;
    margin-bottom: 60px;
    margin-top: 80px;
}

#section-projet-programme2 h1 {
    font-size: 48px;
    margin-left: 5%;
    margin-bottom: 30px;
    margin-top: 70px;
    font-family: 'qeinsha';
    font-weight: lighter;
    color: var(--color-brun);
}

#section-projet-programme2 p {
    width: 65%;
    font-size: 16px;
    color: var(--color-mid);
    font-family: 'nunito';
    text-align: justify;
    margin: 20px auto;
}

#section-projet-programme2 code {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: var(--color-brun);
}