:root {
    --color-brun: #6d493b;
    --color-mid: #C19B87;
    --color-background: #FCF9F2;
    --color-beige: #cfbaa2;
    --color-skin: #d6b6a5;
    --color-light: #e5d7d3;
    --color-transparent: rgba(0, 0, 0, 0.001);
    /* opacity: 0.33; */
}

@font-face {
    font-family: 'cremona';
    src: url(../font/Cremona-Regular.ttf);
}

@font-face {
    font-family: "qeinsha";
    src: url(../font/Qeinsha.ttf);
}

@font-face {
    font-family: "nunito";
    src: url(../font/Nunito-VariableFont_wght.ttf);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #FCF9F2 !important;
}

header.sticky {
    top: 0;
    position: sticky;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 70px;
    background-color: var(--color-skin);
    transition: all 0.5s ease-in-out;
    z-index: 999;
}

header {
    top: 0;
    position: sticky;
    width: 100%;
    height: 100vh;
    background-color: var(--color-skin);
    display: flex;
    /* will-change: transform, top; */
    transition: all 0.5s ease-in-out;
}

.logo {
    margin-left: 3%;
    /* width: 35%; */
}

/* header.sticky .logo {
    width: 30%;
} */

.logo img {
    width: 300px;
    transition: all 0.7s ease-in-out;
}

header.sticky .logo img {
    width: 120px;
    transition: all 0.7s ease-in-out;
}

.home-title {
    margin: 0;
    width: 60%;
    justify-content: center;
    height: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    display: none;
}

header.sticky .items {
    margin-left: 120px;
    width: 75%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.sticky .items .menu-item {
    color: var(--color-brun);
    font-family: 'cremona';
    font-weight: normal;
    font-size: 22px;
    text-decoration: none;
}

header.sticky .menu-item.active {
    color: var(--color-brun);
    font-family: 'cremona';
    font-weight: normal;
    text-decoration: underline;
}

header.sticky .home-title {
    display: none;
}

.home-title h1 {
    text-align: center;
    color: var(--color-background);
    font-family: 'cremona';
    font-size: 120px;
    font-weight: lighter;
    margin-bottom: 0;
    line-height: 127px;
    z-index: 1;
}

.home-title h4 {
    color: var(--color-background);
    font-family: 'qeinsha';
    font-size: 28px;
    font-weight: normal;
    z-index: 1;
}

header.sticky .blob-1 {
    display: none;
}

.blob-1 {
    position: absolute;
    right: 0;
    top: 188px;
    z-index: 0;
    transition: all 0.7s ease-in-out;
}

.blob-1 img {
    width: 500px;
}

#propos {
    height: 120px;
}

#experiences {
    height: 120px;
}

#projets {
    height: 120px;
}

#competences {
    height: 120px;
}

#hobbies {
    height: 80px;
}

#contact {
    height: 120px;
}

.propos {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: 0 auto;
}

.propos .row1 img,
.propos .row2 img {
    width: 325px;
    border-radius: 20px;
    margin: 20px;
}

.propos p {
    margin: 0 auto;
    width: 55%;
    text-align: justify;
    color: var(--color-brun);
    font-size: 20px;
    font-family: 'nunito';
}

.propos .row1,
.propos .row2 {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

#blob-propos-1 {
    position: absolute;
    z-index: -1;
    top: 570px;
    width: 300px;
    background: var(--color-background);
}

#blob-propos-2 {
    position: absolute;
    z-index: -1;
    top: 250px;
    right: 0;
    width: 300px;
}

.experiences {
    margin-top: 3%;
    width: 100%;
}

.experiences h1 {
    font-size: 48px;
    margin-left: 13%;
    margin-bottom: 30px;
    font-family: 'qeinsha';
    font-weight: lighter;
    color: var(--color-brun);
}

.timeline {
    width: 100%;
    padding: 100px 0px;
    margin-bottom: 40px;
}

.container {
    width: 100%;
    margin: 0;
}

.carousel {
    position: relative;
}

.carousel-item {
    margin-top: 100px;
    width: 100%;
}

.carousel-indicators {
    top: 50px;
    width: 75%;
    position: static;
    margin-bottom: 40px;
}

.carousel-inner {
    display: flex;
    justify-content: flex-start;
}

.experience-slide-one {
    padding: 0 150px;
}

.carousel-indicators button {
    text-indent: 0 !important;
    background-color: transparent;
    background: 0 0;
    border: none;
    margin: 0 !important;
    position: relative;
    width: 33% !important;
    color: var(--color-brun);
}

.carousel-indicators button::before {
    position: absolute;
    background-color: transparent;
    content: "";
    border-top: 1px solid #C8CBD0;
    width: 100%;
    left: 0;
}

.carousel-indicators button h4 {
    margin-top: -41px;
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
}

.carousel-indicators [data-bs-target] {
    background-color: var(--color-background) !important;
}

.carousel-indicators button.active h4 {
    color: var(--color-mid);
    background-color: transparent;
    font-size: 32px;
    position: absolute;
    text-align: center;
    margin-top: -49px;
}

.carousel-indicators button img {
    width: 20px;
    margin-top: -9px;
    position: absolute;
}

.experience-slide-img img {
    border-radius: 20px;
    position: static;
}

.experience-slide-text {
    padding: 20px;
}

.experience-slide-text h3 {
    margin-bottom: 30px;
    font-size: 20px;
    color: var(--color-mid);
    font-family: 'cremona';
}

.title-p {
    font-size: 27px !important;
    color: var(--color-brun);
}

.experience-slide-text p {
    font-size: 16px;
    color: var(--color-brun);
    font-family: 'nunito';
    text-align: justify;
}

.carousel-control-next,
.carousel-control-prev {
    width: 2%;
    opacity: 0.8;
}

.carousel-control-prev {
    margin-top: 5%;
}

.carousel-control-next img,
.carousel-control-prev img {
    width: 50px;
}

/************EXPERIENCES SCOLAIRES************/

.expe-sco {
    margin: 40px auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.card-1,
.card-3 {
    display: flex;
    flex-direction: column;
    width: 27%;
    padding: 0 20px;
    border: 2px solid var(--color-brun);
    border-radius: 20px;
    background-color: var(--color-brun);
}

.card-1 h5,
.card-3 h5 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: 'qeinsha';
    font-size: 14px;
    color: var(--color-mid);
}

.card-1 img,
.card-3 img,
.card-2 img {
    margin: 0 auto;
    transform: rotate(0deg);
    transition: transform .3s linear, margin .3s linear;
    width: 300px;
}

.card-1:hover img,
.card-3:hover img,
.card-2:hover img {
    margin: -20px auto;
    transform: rotate(25deg);
    transition: transform .3s linear, margin .3s linear;
    width: 300px;
}

.card-1 h4,
.card-3 h4 {
    margin-top: 20px;
    font-size: 20px;
    color: var(--color-background);
    font-family: 'cremona';
    text-align: center;
}

.card-1 .title-c,
.card-3 .title-c {
    font-size: 12px;
    color: var(--color-mid);
    font-family: 'qeinsha';
}

.card-1 .corp-c,
.card-3 .corp-c {
    font-size: 16px;
    color: var(--color-background);
    font-family: 'nunito';
}

.card-2 {
    display: flex;
    flex-direction: column;
    width: 27%;
    padding: 0 20px;
    border: 2px solid var(--color-mid);
    border-radius: 20px;
    background-color: var(--color-mid);
}

.card-2 h5 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: 'qeinsha';
    font-size: 14px;
    color: var(--color-background);
}

.card-2 h4 {
    margin-top: 20px;
    font-size: 20px;
    color: var(--color-brun);
    font-family: 'cremona';
    text-align: center;
}

.card-2 .title-c {
    font-size: 12px;
    color: var(--color-background);
    font-family: 'qeinsha';
}

.card-2 .corp-c {
    font-size: 16px;
    color: var(--color-brun);
    font-family: 'nunito';
}

/**************PROJECT CARDS****************/

.cards-row1,
.cards-row2 {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.minip {
    width: 300px;
    height: 450px;
    margin: 40px auto;
    background: var(--color-beige);
    position: relative;
    box-shadow: 0 0 5px var(--color-mid);
}

.minip .mg {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 250px 50px;
    grid-template-rows: 100px 150px;
    grid-template-areas: 'clr group' 'clr .....';
    transition: grid-template-colums .6s linear, grid-template-rows .6s linear;
}

.minip:hover .mg {
    grid-template-columns: 150px 150px;
    grid-template-rows: 50px 300px;
    transition: grid-template-columns .6s linear, grid-template-rows .6s linear;
}

.minip .mg .clr {
    grid-area: clr;
    background: var(--color-brun);
}

.minip .mg .group {
    font: 10px/10px 'cremona';
    text-transform: uppercase;
    letter-spacing: 1px;
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    justify-content: center;
}

.minip .mg .group span {
    display: block;
    font-size: 15px;
    color: var(--color-brun);
    transform: rotate(180deg);
    transition: transform .6s linear;
}

.minip:hover .mg .group span {
    transform: rotate(270deg);
    transition: transform .6s linear;
}

.minip .av {
    width: 200px;
    height: 350px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: var(--color-brun);
    background-position: top center;
    background-size: cover;
    transition: width .6s linear, height .6s linear;
}

.minip:hover .av {
    width: 250px;
    height: 400px;
    transition: width .6s linear, height .6S linear;
}

.minip .info {
    width: 160px;
    max-height: 100px;
    padding: 25px;
    position: absolute;
    bottom: 135px;
    left: 0;
    background-color: var(--color-mid);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: flex-start;
    transition: bottom .6S linear;
}

.minip:hover .info {
    bottom: 90px;
    transition: bottom .6s linear;
}

.minip .info name {
    display: block;
    width: 160px;
    color: var(--color-background);
    text-indent: -25px;
    letter-spacing: 1px;
    margin: 0 0 5px 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.minip .info deets {
    width: 130px;
    color: var(--color-brun);
    font-size: 14px;
    letter-spacing: 1px;
}

.minip a.plot {
    width: 130px;
    height: 30px;
    position: absolute;
    bottom: 120px;
    left: 85px;
    background: var(--color-brun);
    color: var(--color-background);
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: bottom .6s linear;
}

.minip:hover a.plot {
    bottom: 75px;
    transition: bottom .6s linear;
}

.minip a.plot:hover {
    color: var(--color-skin);
    transition: color .6s linear;
}

/*****************COMPETENCES********************/

.competences {
    width: 100%;
}

.competences h1 {
    font-size: 48px;
    margin-left: 13%;
    font-family: 'qeinsha';
    font-weight: lighter;
    color: var(--color-brun);
}

.competences .competences_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 60px auto;
    width: 88%;
}

.competences .competences_container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 130px auto;
    width: 88%;
}

.competences_container .competences-column1,
.competences_container .competences-column2,
.competences_container .competences-column3 {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 500px;
}

.competences_container2 .competences-column1,
.competences_container2 .competences-column2,
.competences_container2 .competences-column3 {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 500px;
}

.competences_container .competences-column1 h2,
.competences_container .competences-column2 h2,
.competences_container .competences-column3 h2 {
    font-family: 'qeinsha';
    color: var(--color-brun);
    margin-bottom: 30px;
    margin-top: 10px;
}

.competences_container2 .competences-column1 h2,
.competences_container2 .competences-column2 h2,
.competences_container2 .competences-column3 h2 {
    font-family: 'qeinsha';
    color: var(--color-brun);
    margin-bottom: 30px;
    margin-top: 20px;
}

.competences_container .competences-column1,
.competences_container .competences-column2 {
    border-right: 2px dashed var(--color-brun);
}

.competences_container2 .competences-column1,
.competences_container2 .competences-column2 {
    border-right: 2px dashed var(--color-brun);
}

.progressBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 370px;
}

.progressBar1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.progressBar2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.progressBar3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.progressBar4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.sql {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.sql label {
    font-family: 'nunito';
    color: var(--color-brun);
    width: 30%;
    margin-left: 3px;
}

.competences_container .container {
    margin: 0px auto;
    width: 70%;
    text-align: center;
}

.competences_container2 .container {
    margin: 0px auto;
    width: 70%;
    text-align: center;
}

.progress2 {
    border-radius: 30px;
    background: rgba(193, 155, 135, 0.4);
    box-shadow: inset 0 1px 2px rgba(193, 155, 135, 0.4);
}

.progress-bar1,
.progress-bar2,
.progress-bar3,
.progress-bar4,
.progress-bar5,
.progress-bar6 {
    height: 13px;
    border-radius: 30px;
    background: var(--color-brun);
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-moved .progress-bar1 {
    width: 93%;
    background-color: var(--color-brun);
}

.progress-moved .progress-bar2 {
    width: 89%;
    background-color: var(--color-brun);
}

.progress-moved .progress-bar3 {
    width: 87%;
    background-color: var(--color-brun);
}

.progress-moved .progress-bar4 {
    width: 97%;
    background-color: var(--color-brun);
}

.progress-moved .progress-bar5 {
    width: 80%;
    background-color: var(--color-brun);
}

.progress-moved .progress-bar6 {
    width: 75%;
    background-color: var(--color-brun);
}

/*************HOBBIES************/

.hobbies {
    width: 100%;
}

.hobbies h1 {
    font-size: 48px;
    margin-left: 13%;
    margin-bottom: 30px;
    font-family: 'qeinsha';
    font-weight: lighter;
    color: var(--color-brun);
}

.cards-hobbies {
    display: flex;
    width: 70%;
    margin: 50px auto;
    justify-content: space-around;
}

.read {
    position: relative;
    width: 320px;
    height: 450px;
    background-color: var(--color-mid);
    border-radius: 20px;
    overflow: hidden;
}

.read:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-light);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.read:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.read:after {
    content: "";
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: var(--color-beige);
}

.read .imgBx {
    position: absolute;
    top: 50%;
    left: -70px;
    transform: translateY(-50%);
    z-index: 10;
    width: 150px;
    height: auto;
    transition: 0.5s;
}

.read:hover .imgBx {
    top: -10%;
    transform: translateY(-10%);
}

.read .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.read:hover .contentBx {
    height: 180px;
}

.read .contentBx h2 {
    position: relative;
    font-family: 'cremona';
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--color-background);
    margin: 0;
}

.read .contentBx .text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    color: var(--color-brun);
    font-family: 'nunito';
    visibility: hidden;
    padding-top: 10px;
    padding-bottom: 0;
}

.read:hover .contentBx .text {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.3s;
}

.sport {
    position: relative;
    width: 320px;
    height: 450px;
    background-color: var(--color-mid);
    border-radius: 20px;
    overflow: hidden;
}

.sport:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-light);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.sport:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.sport:after {
    content: "";
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: var(--color-beige);
}

.sport .imgBx {
    position: absolute;
    top: 50%;
    left: -70px;
    transform: translateY(-50%);
    z-index: 10;
    width: 150px;
    height: auto;
    transition: 0.5s;
}

.sport:hover .imgBx {
    top: -10%;
    transform: translateY(-10%);
}

.sport .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.sport:hover .contentBx {
    height: 180px;
}

.sport .contentBx h2 {
    position: relative;
    font-family: 'cremona';
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--color-background);
    margin: 0;
    margin-top: 5px;
}

.sport .contentBx .text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    color: var(--color-brun);
    font-family: 'nunito';
    visibility: hidden;
    padding-top: 10px;
    padding-bottom: 0;
}

.sport:hover .contentBx .text {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.3s;
}

.coding {
    position: relative;
    width: 320px;
    height: 450px;
    background-color: var(--color-mid);
    border-radius: 20px;
    overflow: hidden;
}

.coding:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-light);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.coding:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.coding:after {
    content: "";
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: var(--color-beige);
}

.coding .imgBx {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 10;
    width: 150px;
    height: auto;
    transition: 0.5s;
}

.coding .imgBx img {
    width: 300px;
}

.coding:hover .imgBx {
    top: 5%;
    transform: translateY(-10%);
}

.coding .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.coding:hover .contentBx {
    height: 180px;
}

.coding .contentBx h2 {
    position: relative;
    font-family: 'cremona';
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--color-background);
    margin: 0;
    margin-top: 5px;
}

.coding .contentBx .text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    color: var(--color-brun);
    font-family: 'nunito';
    visibility: hidden;
    padding-top: 10px;
    padding-bottom: 0;
}

.coding:hover .contentBx .text {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.3s;
}

/****************CONTACT****************/

.contact {
    width: 100%;
    padding: 80px;
    display: flex;
    margin-bottom: 80px;
}

.information_contact {
    width: 50%;
    margin-right: 3%;
}

.information_contact h1 {
    font-family: 'cremona';
    font-size: 55px;
    color: var(--color-brun);
    margin-bottom: 20px;
}

.information_contact p {
    font-family: 'nunito';
    font-size: 18px;
    text-align: justify;
    color: var(--color-brun);
    margin-bottom: 60px;
}

.information_contact a {
    font-family: 'nunito';
    font-size: 23px;
    text-decoration: none;
    color: var(--color-brun);
}

/* .icones {
} */

.copyright {
    color: var(--color-brun);
    display: flex;
    justify-content: center;
    font-family: 'nunito';
    font-size: 12px;
}