@media screen and (max-width: 960px) {
    #header-sticky {
        height: 60px;
    }

    .logo-sticky img {
        width: 170px;
    }

    #header-sticky .items-sticky {
        position: absolute;
        width: 80%;
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--color-skin);
        border-bottom: 1px solid var(--color-brun);
        top: -100vh;
        transition: top 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
    }

    #header-sticky .items-sticky.active {
        top: 0;
        padding-top: 60px;
        background-color: var(--color-skin);
        border-bottom: 1px solid var(--color-brun);
    }

    .items-sticky a {
        font-size: 20px;
        margin: 20px 0;
    }

    #header-sticky .nav-toggler {
        position: fixed;
        z-index: 1000000;
        top: 8px;
        right: 50px;
        height: 50px;
        width: 40px;
        border-radius: 50%;
        border: none;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
    }

    .line {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: var(--color-brun);
        transition: transform 0.3s ease-out, opacity 0.1s ease-out;
    }

    .l1 {
        transform: translateY(-10px);
    }

    .l3 {
        transform: translateY(10px);
    }

    .nav-toggler.active .l1 {
        transform: translateY(0px) rotate(135deg);
    }

    .nav-toggler.active .l2 {
        opacity: 0;
    }

    .nav-toggler.active .l3 {
        transform: translateY(0px) rotate(-135deg);
    }

    /* DESCRIPTION */

    #section-projet-description {
        width: 95% !important;
    }

    #section-projet-description img {
        margin-top: 5%;
        width: 70%;
        margin-right: 30px !important;
    }

    #section-projet-circuits-electriques .elect-row3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .algo-row1,
    .algo-row6,
    .algo-row8,
    .algo-row9,
    .algo-row11 {
        width: 85%;
    }

    .algo-row1 img,
    .algo-row3 img,
    .algo-row2 img,
    .algo-row7 img,
    .algo-row8 img,
    .algo-row9 img,
    .algo-row10 img,
    .algo-row11 img {
        width: 80%;
    }

    .algo-row5 img {
        width: 75%;
    }

    .algo-row4 img {
        width: 90%;
    }

    .algo-row2,
    .algo-row5,
    .algo-row3,
    .algo-row4,
    .algo-row7,
    .algo-row10 {
        width: 85%;
        flex-direction: column !important;
    }

    #section-projet-algorithmes p {
        width: 85%;
    }

    .prog-row15 img {
        width: 100%;
    }

    .prog-row15 p {
        padding-top: 20px;
        width: 100%;
    }

    .prog-row-1,
    .prog-row1,
    .prog-row3,
    .prog-row5,
    .prog-row7,
    .prog-row9,
    .prog-row11,
    .prog-row13,
    .prog-row-2,
    .prog-row2,
    .prog-row4,
    .prog-row6,
    .prog-row8,
    .prog-row10,
    .prog-row12,
    .prog-row14,
    .prog-row15,
    .prog-row16 {
        width: 95%;
    }

    .prog-row-1,
    .prog-row-2,
    .prog-row2,
    .prog-row3,
    .prog-row4,
    .prog-row5,
    .prog-row6,
    .prog-row8,
    .prog-row12 {
        flex-direction: column;
    }

    .prog-row-1 img,
    .prog-row-2 img,
    .prog-row2 img,
    .prog-row3 img,
    .prog-row4 img,
    .prog-row5 img,
    .prog-row6 img,
    .prog-row8 img,
    .prog-row12 img {
        width: 85%;
    }

    .prog-row1 img,
    .prog-row7 img,
    .prog-row9 img,
    .prog-row10 img,
    .prog-row11 img,
    .prog-row13 img,
    .prog-row14 img {
        width: 70%;
    }

    .content-circuits-logiques>img {
        width: 100%;
    }

    .text-circuits-logiques img {
        width: 100%;
    }

    .text-circuits-logiques .row img {
        width: 70%;
    }

    .interne-coffre {
        width: 80% !important;
    }

    .text-circuits-logiques .interne-coffre img {
        width: 80%;
    }

    .elect-row1 img {
        width: 80%;
    }

    .elect-row2 {
        flex-direction: column !important;
    }

    .elect-row2 img {
        width: 90%;
    }

    .elect-row3 img {
        width: 90%;
    }
}

@media screen and (max-width: 960px) {
    #img_message_code {
        max-width: 414px;
    }

    #section-projet-description p {
        text-align: left;
    }

    pre {
        width: 80%;
        overflow: hidden;
    }

    code {
        width: 95%;
        overflow: hidden;
    }

    #script-bdd code,
    #requetes code {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        color: var(--color-brun);
    }

    #script-bdd h3,
    #requetes h3,
    h3 {
        font-family: 'cremona';
        color: var(--color-brun);
        font-size: 28px;
        margin-left: 10%;
        margin-bottom: 60px;
        margin-top: 80px;
    }

    #reformulation-besoin h1,
    #dictionnaire h1,
    #mcd h1,
    #mld h1,
    #mpd h1,
    #script-bdd h1,
    #requetes h1 {
        font-size: 44px;
        margin-left: 3%;
        margin-bottom: 30px;
        margin-top: 70px;
        font-family: 'qeinsha';
        font-weight: lighter;
        color: var(--color-brun);
    }

    #reformulation-besoin p,
    #reformulation-besoin ul,
    #dictionnaire p,
    #mcd p,
    #mld p,
    #mpd p,
    #script-bdd p,
    #requetes p {
        width: 94%;
        font-size: 16px;
        color: var(--color-brun);
        font-family: 'nunito';
        text-align: justify;
        margin: 20px auto;
    }

    #requetes figure {
        display: flex;
        flex-flow: column;
        margin: auto;
        max-width: 180px;
    }

    #requetes figcaption {
        background-color: var(--color-mid);
        color: var(--color-brun);
        font: italic smaller sans-serif;
        padding: 3px;
        text-align: center;
    }

    #requetes img {
        display: flex;
        margin: 30px auto 0;
    }

    #dictionnaire img {
        display: flex;
        margin: 30px auto 0;
    }

    #img {
        margin: 30px auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}